@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lugrasimo&family=Mulish:wght@300;500&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Nanum Myeongjo', serif;
}
body{
    background: black;
    font-family: 'ABeeZee', sans-serif;

}
.container{
    width: 100%;
    height: 100%;
    background: white;
} 

header{
    width: 100%;
    height: 350px;   
    background-color: black;
}
.heading{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    top:0;
    left: 0;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    z-index: 100;
}

.imgTop img{
    margin-top: 10px;
    width: 150px;
    border-radius: 20px;
}

.topmenu{
    position: relative;
    width: 55%;
    height: 180px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    font-family: 'ABeeZee', sans-serif;
}
.topmenu a{
   padding: 10px 20px 30px 15px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(80, 77, 76, 0.433);
}
 .toplink:hover{
     background-color: rgba(210, 104, 12, 0.866); 
 }

 .top-rrss{
    width: 35%;
 }

 .top-rrss ul{
   display: flex;
 justify-content: flex-end;
   align-items: flex-end;
    gap: 30px;
    list-style: none;
 }
 .top-rrss ul li{
 align-self: flex-end;
}
 .rrss-flex img:hover{
    width: 25px;

 }

 

.footerlink:hover{
     color: black;
 }
.principal{
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
    border: 2px solid red;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(210, 104, 12, 0.801);
    margin-right: 30px;
    padding: 20px;
    font-weight: 300;
    border-radius: 10px;
    height: 450px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: white;
}
form h1, p{
    padding: 5px 0;
    text-align: center;
}
form input{
    padding-left: 3px;
    height: 30px;
    margin: 5px 0;
    border-radius: 6px;
    border: none;
}
form textarea{
    border-radius: 6px;
    border: none;  
    padding-left: 3px;
}
#bt-sb{
    font-family:'Nanum Myeongjo', serif;
    font-size: large;
    font-weight:800;
}
#bt-sb:hover{
    background-color: black;
    color: white;
}
.fin{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.533);
   
    border-bottom: 2px solid gray;
    font-family: 'ABeeZee', sans-serif;
    color: white; 
}
.direccion{
    padding: 10px 30px
   
}
 .footerNav ul{
list-style: none;
padding: 10px 30px;
}

.footerNav ul li a{
    text-decoration: none;
    color: white;  
    
}

.copyrigth{
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: rgba(80, 77, 76, 0.433);
    color: white;
}
.rrss {
    
    display: flex;
    align-items: center;
    width: 172px;
    gap: 15px;
}
.rrss ul li{
   list-style: none; 
}